header {
    height: 85vh;
    min-height: 300px;
    background-size: cover;
    /* background-color: rgb(19, 19, 19); */
    background-image: url("images/water3.jpeg");
    /* background-image: url('https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}

.landingname {
    font-family: "The Historia Demo", sans-serif;
    font-size: 100px;
    color: black;
}

nav {
    background-color: white;
}

nav a {
    font-family: "The Historia Demo", sans-serif;
    font-size: 20px;
    color: black;
}

.scroll-down {
    color: blue;
    margin-top: 2rem;
    font-size: 3.5rem;
}

.scroll-down:hover {
    color: lightskyblue;
}

footer {
    background-color: aliceblue;
}

.abouthr {
    width: 20%;
    background: lightblue;
}

#about h2 {
    font-family: "The Historia Demo", sans-serif;
    font-size: 70px;
    color: #88c7eb
}

.landingtext {
    font-family: 'Lato', sans-serif;
}

#about p {
    font-family: 'Lato', sans-serif;
}