body {
  /* overflow: hidden; */
  height: 100vh;
}

.portfolio {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    /* overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; */
}

header {
    /* height: 85vh; */
    height: 100vh;
    min-height: 300px;
    background-size: cover;
    /* background-color: rgb(19, 19, 19); */
    background-image: url("images/water1.jpeg");
    /* background-image: url('https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}

section {
    /* Scroll Snap */
  /* scroll-snap-align: center; */
  width: 100%;
  height: 100vh;
}

.landingname {
    font-family: "The Historia Demo", sans-serif;
    font-size: 100px;
    color: black;
}

nav {
    background-color: white;
}

nav a {
    font-family: "The Historia Demo", sans-serif;
    font-size: 25px;
    /* color: black; */
    /* transition: 600ms; */
}

nav a:hover {
    color: rgb(122, 120, 120);
}

.scroll-down {
    color: #a8a8a8;
    margin-top: 2rem;
    font-size: 3.5rem;
    transition: color 600ms;

}

.scroll-down:hover {
    color: rgb(206, 206, 206);
}

/* footer {
    background-color: #fafafa;
} */


hr {
    width: 50%;
}

h2 {
    font-family: "The Historia Demo", sans-serif;
    font-size: 70px;
}

.landingtext {
    font-family: 'Lato', sans-serif;
}

#about p {
    font-family: 'Lato', sans-serif;
    max-width: 50rem;

}

footer i:hover {
    color:rgb(206, 206, 206)
}

